doctype html
html
  head
    title Valence
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='icon.ico')
    // Included Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100', rel='stylesheet', type='text/css')
    // CSS Files comes here
    link(href='/css/grid12.css', rel='stylesheet', media='screen')
    // Grid System
    link(href='/css/james_typography.css', rel='stylesheet', media='screen')
    // James Framework - TYPOGRAPHY
    link(href='/css/main.css', rel='stylesheet', media='screen')
    // Main CSS file
    link(href='/css/color_scheme_light.css', rel='stylesheet', media='screen')
    // Color scheme (dark/light)
    link(href='/css/colors/color_palette_blue.css', rel='stylesheet', media='screen')
    // Color palette
    link(href='/css/rapid-icons.css', rel='stylesheet', media='screen')
    // James Framework - ICONS
    link(href='/css/js_styles/jquery.maximage.min.css', rel='stylesheet', media='screen')
    // MaxImage background image slideshow
    link(href='/css/responsivity.css', rel='stylesheet', media='screen')
    // Responsive Fixes
    link(href='/css/animate.css', rel='stylesheet', media='screen')
    // Animate - animations
    link(href='/css/nivo-lightbox.css', rel='stylesheet', media='screen')
    // Lightbox Styles
    link(href='/css/nivo_lightbox_themes/default/default.css', rel='stylesheet', media='screen')
    // Lightbox Styles
    link(href='/css/owl.carousel.css', rel='stylesheet', media='screen')
    // Owl - Carousel
    link(href='/css/owl.theme.css', rel='stylesheet', media='screen')
    // Owl - Carousel
    link(href='/css/owl.transitions.css', rel='stylesheet', media='screen')
    // Owl - Carousel
    // Modernizer and IE specyfic files
    script(src='/js/modernizr.custom.js')
  body
    // Mobile nav
    #cbp-spmenu-s2.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
      .mobile_nav_close_button
        a#hideRight(href='')
          .button_icon.close_icon(data-icon='')
      nav#mobile_menu_content
        a(href='#more_info') Overview
        a(href='#features') Features
        a(href='#contact') Contact
    // //Mobile nav
    #preloader_container
      // Preloader Screen
      header.preloader_header
        .preloader_loader
          svg.preloader_inner(width='60px', height='60px', viewbox='0 0 80 80')
            path.preloader_loader_circlebg(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
            path#preloader_loader_circle.preloader_loader_circle(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
      // //Preloader Screen
      // Fullscreen homepage
      section.hero_fullscreen.background_solid.mockups.menu_bar-waypoint(data-animate-down='menu_bar-hide', data-animate-up='menu_bar-hide')
        // This section class is where you can edit background choice (background_single, background_slider, background_video) you can also enable gradient overlay (gradient_overlay) and mockups (mockups)
        // Logo and navigation
        .container.top_bar
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              img.logo(src='/images/logo_light.png', alt='logo')
              nav.navigation_desktop
                ul
                  li
                    a.visible-lg.visible-md.go_to_overview(href='#more_info') Overview
                  li
                    a.visible-lg.visible-md(href='#features') Features
                  li
                    a.visible-lg.visible-md(href='#contact') Contact
                  li
                    .mobile_nav_open_button.hidden-lg.hidden-md
                      a#showRight_1(href='')
                        .button_icon.close_icon(data-icon='')
        // //Logo and navigation
        // Main content
        #main_content.container.align-left
          .content_container.row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.home_content
              h2.slogan Connect to the people around you
              h6
                | Its time to stop texting and start talking. Valence provides real connections at the press of a button.
              // CTA Buttons
              .cta_button_area
                div
                  button.btn.waves-effect.waves-light.subscribe-submit Coming Soon!
                a(href='#more_info')
                  small Not sure? Learn more.
              // //CTA Buttons
            // Mockups
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.home_mockup
              img.mockup-animation1.home_mockup_image(src='/images/mockups/1/back.png', alt='')
              img.mockup-animation2.home_mockup_image(src='/images/mockups/1/front.png', alt='')
            // //Mockups
        // //Main content
        // Video Background
        // //Video Background
        // Slider Background
        #maximage_slider
          img(src='/images/background_slider_01.jpg', alt='')
          img(src='/images/background_slider_02.jpg', alt='')
          img(src='/images/background_slider_03.jpg', alt='')
          img(src='/images/background_slider_04.jpg', alt='')
        // //Slider Background
        // Single Image Background
        #maximage_single
          img(src='/images/home_background_01.jpg', alt='')
        // //Single Image Background
      // //Homepage
      // Menu bar
      header#menu_bar.menu_bar
        .container
          a.go_to_home.logo_dark(href='')
            img.logo(src='/images/logo_dark.png', alt='logo')
          a.go_to_home.logo_light(href='')
            img.logo(src='/images/logo_light.png', alt='logo')
          nav.menu_bar_navigation
            ul
              li.visible-lg.visible-md
                a.go_to_overview(href='#more_info') Overview
              li.visible-lg.visible-md
                a(href='#features') Features
              li.visible-lg.visible-md
                a(href='#contact') Contact
              li.visible-lg.visible-md.last-item
                button.btn.waves-effect.waves-light.subscribe-submit Coming Soon
              li.hidden-lg.hidden-md
                .mobile_nav_open_button
                  a#showRight_2(href='')
                    .button_icon.close_icon(data-icon='')
      // // Menu bar
      // More Info ####################
      section#more_info.menu_bar-waypoint.subsection(data-animate-down='menu_bar-show', data-animate-up='menu_bar-hide')
        .container
          .row
            .col-xs-12.col-sm-10.col-md-10.col-lg-10.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.align-center.content_anim1.intro
              h3 Changing how the world uses social media
              p
                | Here at Valence, we have become fed up with society’s trend away from real human interaction as technology dominates the ways in which we communicate. Valence is the new social network to put an end to social networks. By allowing people to find others within a close radius who are open to talk, Valence aims to push nearby strangers to connect with each other and revive the lost art of face-to-face conversation.
        .more_info_mockup.content_anim2
          img.img_responsive(src='/images/mockups/subsection_mockups/1.png', alt='')
        .container
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .iconbox.content_anim3
                .iconbox_icon(data-icon='')
                .iconbox_content
                  h5 Real Connections
                  p
                    | Valence does not allow users to hide behind their screens and interact through meaningless "likes" or "pokes". Our app simply connects users looking to talk in close proximity, and the rest is up to you!
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .iconbox.content_anim4
                .iconbox_icon(data-icon='')
                .iconbox_content
                  h5 Completely Free
                  p
                    | Not only will Valence cost absolutely nothing, it will also be free of ads! Why not give it a try?
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              .iconbox.content_anim5
                .iconbox_icon(data-icon='')
                .iconbox_content
                  h5 Easy to Use
                  p
                    | By eliminating uneeded features, Valence is extremely easy to navigate. A click of a button is all it takes to sign up and meet new people.
      // //More info
      // Features ####################
      section#features.subsection
        .container
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              .mockup_container
                img.img_responsive.mockup_back.content_anim10(src='/images/mockups/subsection_mockups/2a.png', alt='')
                img.img_responsive.mockup_front.content_anim9(src='/images/mockups/subsection_mockups/2b.png', alt='')
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              .intro.content_anim6
                h3 Heres a glimpse of what Valence has to offer.
                p
              .iconbox.content_anim7
                .iconbox_icon(data-icon='')
                .iconbox_content
                  h5 Sleek Design
                  p
                    | While creating Valence, our designers focused on building an app with a clean, aesthetically pleasing layout. Our attention to detail allows users to navigate our app quickly and effortlessly-- getting you off your phone and engaged in conversation in no time!
              .iconbox.content_anim8
                .iconbox_icon(data-icon='')
                .iconbox_content
                  h5 Networking
                  p
                    | Connections our users make are more personal than those created through other social media. By stripping our network down to the bare essentials and introducing users face-to-face, we aim to eliminate purposeless online interaction. With Valence, your next best friend, buisness partner, or mentor may be just a conversation away.
      // //Features
      // Features - Video ####################
      section#features_video.subsection
        .container
      // //Features - Video
      // Reviews ####################
      // Reviews - Logos ####################
      // Screenshots ####################
      // Newsletter ####################
      section#newsletter.subsection_parallax(data-stellar-background-ratio='0.6')
        .container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.align-center.content_anim27
              .intro
                h3 Sign up to Our newsletter
                p Well keep you updated on all of our new features and projects
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.align-center.content_anim28
              // Newsletter Form
              .newsletter_form
                form#subscribe-form(action='php/send.php', method='post')
                  .input-field
                    .prefix(data-icon='')
                    input#email.validate(type='email', name='email')
                    label(for='email') Email address
                  button#subscribe-form-submit.btn.waves-effect.waves-light.subscribe-submit(type='submit', name='action') Subscribe Now
                #preview
              // //Newsletter form
      // //Newsletter
      section#contact.subsection
        .container
          .row
            .col-xs-12.col-sm-5.col-md-5.col-lg-5.content_anim29
              h3 Contact Info
              p Contact us with any questions, comments, or concerns you may have.
              ul.icon_list
                li
                  .icon_small.float-left(data-icon='')
                  h6
                    | 430 Cross Street, Ann Arbor,
                    br
                    | United States
                li
                  .icon_small.float-left(data-icon='')
                  h6 (800) 456-7890
                li
                  .icon_small.float-left(data-icon='')
                  h6
                    a(href='mailto:webdesign@shegy.pl') kyle@valenceios.com
            .col-xs-12.col-sm-5.col-md-5.col-lg-5.col-sm-offset-2.col-md-offset-2.col-lg-offset-2.content_anim30
              h3 Contact Us
              // Contact Form
              form#contact-form(action='php/contactform.php', method='post')
                .contact_form
                  .input-field
                    input#first_name(type='email', name='contact-name')
                    label(for='first_name') Your Name
                  .input-field
                    input#contact_email(type='email', name='contact-email')
                    label(for='contact_email') Email Address
                  .input-field
                    textarea.materialize-textarea(name='contact-message')
                    label Message
                button.btn.waves-effect.waves-light(type='submit', name='action') Send
              // //Contact Form
              #message
                #alert
              // Message container
      // //More info
      section#footer.subsection
        .container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.align-center
              // Social Icons
              .social_icons_container.align-center
                .social_icons
                  ul
                    li
                      .social_icon.twitter_icon(data-icon='', onclick="location.href='#'")
                    li
                      .social_icon.facebook_icon(data-icon='', onclick="location.href='#'")
                    li
                      .social_icon.linkdin_icon(data-icon='', onclick="location.href='#'")
                    li
                      .social_icon.dribbble_icon(data-icon='', onclick="location.href='#'")
              // //Social Icons
              p
                small Copyright © 2015 Kyle
      // //More info
    // //preloader
    // JavaScript plugins comes here
    script(src='/js/jquery-2.1.3.min.js')
    // jQuery
    script(src='/js/jquery.easing.min.js')
    // jQuery easing
    script(src='/js/jquery.scrollTo.js')
    // Scroll to
    script(src='/js/jquery.cycle.all.min.js')
    // jQuery cycle
    script(src='/js/jquery.form.js')
    // jQuery form
    script(src='/js/jquery.maximage.min.js')
    // MaxImage background image slideshow
    script(src='/js/materialize.js')
    // Materialize
    script(src='/js/classie.js')
    // Class helper function
    script(src='/js/pathLoader.js')
    // Preloader Loading Animation
    script(src='/js/preloader.js')
    // Preloader
    script(src='/js/count_down.js')
    // Count Down Timer
    script(src='/js/happy.js')
    // Newsletter form validation
    script(src='/js/happy.methods.js')
    // Newsletter form validation
    script(src='/js/retina.js')
    // Retina.js - support for HiDPI Displays
    script(src='/js/waypoints.min.js')
    // Waypoints
    script(src='/js/nivo-lightbox.min.js')
    // Lightbox/Modalbox
    script(src='/js/jquery.fitvids.js')
    // Responsive Video
    script(src='/js/jquery.stellar.js')
    // Parallax backgrounds
    script(src='/js/owl.carousel.js')
    // Owl Carousel
    script(src='/js/main.js')
    // Main Js file
    // Show message after newsletter form submit
    script(type='text/javascript').
      $('document').ready(function()
      {
      $('#subscribe-form').ajaxForm( {
      target: '#preview',
      success: function() {
      $('#preview').addClass( "show_message" );
      }
      });
      });
    // MOBILE NAVIGATION
    script.
      var showRight_1 = document.getElementById( "showRight_1" ),
      showRight_2 = document.getElementById( "showRight_2" ),
      hideRight = document.getElementById( 'hideRight' ),
      menuRight = document.getElementById( 'cbp-spmenu-s2' ),
      body = document.body;
      showRight_1.onclick = function(event) {
      "use strict";
      event.preventDefault();
      classie.toggle( this, 'active' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRight_1' );
      return false;
      };
      showRight_2.onclick = function(event) {
      "use strict";
      event.preventDefault();
      classie.toggle( this, 'active' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRight_2' );
      return false;
      };
      hideRight.onclick = function(event) {
      "use strict";
      event.preventDefault();
      classie.toggle( this, 'active' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRight_2' );
      return false;
      };
    // Nav Bar show/hide after scrolling
    script.
      var $head = $( '#menu_bar' );
      $( '.menu_bar-waypoint' ).each( function(i) {
      var $el = $( this ),
      animClassDown = $el.data( 'animateDown' ),
      animClassUp = $el.data( 'animateUp' );
      $el.waypoint( function( direction ) {
      if( direction === 'down' && animClassDown ) {
      $head.attr('class', 'menu_bar ' + animClassDown);
      }
      else if( direction === 'up' && animClassUp ){
      $head.attr('class', 'menu_bar ' + animClassUp);
      }
      }, { offset: function() {
      navbarheight = $("#menu_bar").outerHeight()+1;
      return navbarheight;
      }
      } );
      } );
